<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="_TJ3-g_s763IfIWqUCUlAbD5TOwTKvaTXvlExnEyS-Q" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
windowSiteData = {{siteData|tojson}}
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <style>
.header {
  margin-top:.8rem;
  margin-bottom: 3.2rem;
}
.IN-widget iframe {
  -moz-transform: scale(0.75, 0.75); 
  -webkit-transform: scale(0.75, 0.75);
  -o-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
    </style>
  </head>
  <body>
    <div id="finks-site"></div>
    <script src="{{url_for('static', filename='js/bundle.js')}}"></script>
  </body>
</html>
